/*  */
.container {
  display: block;
  margin: auto;
  width: auto;
}

/* HEADER */

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "logo . sign-in"
    "nav nav nav";

  align-items: center;
  padding: 0;
}

header img {
  grid-area: logo;
  margin-left: 3rem;
}

nav li {
  padding: 1rem;
  width: 100%;
  text-align: center;
  border-bottom: solid 2px var(--background);
}
.sign-in {
  color: var(--primary);
  font-weight: 700;
  grid-area: sign-in;
  padding: 3rem 2rem;
}

.sign-in:hover {
  display: none;
}

nav li:hover {
  border-bottom: solid 2px var(--primary);
  padding-top: 0.9rem;
  border-top: 0;
}

/* SEARCH BAR AREA */
.search-area {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;

  margin: 1rem;
  text-align: center;
}

.search-area p {
  text-align: center;
}

/* SEARCH BAR */

.search-bar {
  padding: 3rem 0rem;
  display: flex;
}

.search-bar i {
  margin: 0;
  padding: 1.5rem 1.5rem;
  border: solid 1px var(--background);
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  background-color: var(--background);
}

.search-bar input {
  margin: 0;
  padding: 1.5rem 2.5rem;
  border: solid 1px var(--background);
  outline: none;
}

.research {
  display: none;
}

.search-bar button {
  margin: 0;
  padding: 1.5rem 0rem;
  border: 0;
  background-color: var(--primary);
  color: white;
  border-radius: 1rem;
}

.search-bar button i {
  display: initial;
  border-radius: 1rem;
  position: relative;

  background-color: var(--primary);
  border-color: var(--primary);
}

/*  filter */
.filter-area {
  display: flex;
  padding-bottom: 3rem;
  flex-flow: row wrap;
}

.filter-area h3 {
  padding: 1rem 1.3rem;
  width: 100%;
}

.filter {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.info-text {
  padding: 0 2rem;
}

/* MAIN */

main {
  display: grid;
  margin: 0;

  grid-template-columns: 1fr;
}

/* Main hosting*/

.hosting {
  background-color: initial;
  display: grid;
  column-gap: 2.5rem;
  row-gap: 2rem;
  margin: 2rem 2rem;
  padding: 0rem;
  border-radius: 0;
  grid-template-columns: 1fr;
  grid-row: 2;

  grid-template-areas:
    "title "
    "item1 "
    "item2"
    "item3"
    "item4"
    "item5"
    "item6"
    "p";
}

.hosting h4,
.hosting p {
  font-size: 1.1rem;
}

.display-more {
  font-size: 1.5rem !important;
}

/* main most-popular */
.most-popular {
  background-color: var(--background);
  display: grid;
  grid-row: 1;
  row-gap: 2rem;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0;
  grid-template-columns: 1fr;
}

.MP-text {
  font-size: 1.2rem;
  margin: 1rem;
}

.MP2 .MP-notation {
  margin-top: 3rem;
}

.MP2 .MP-img {
  width: 11rem;
}

.MP2 .MP-text {
  width: 18rem;
}

/* ACTIVITY */

aside {
  padding: 3rem;
  margin: 0;
}

aside h3 {
  margin: 2rem 0;
}

aside h5 {
  padding: 1rem;
}

.activity-container {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 16rem;
  row-gap: 2rem;
  column-gap: 0;
}

.activity-item {
  display: flex;
  flex-direction: column;
  height: 16rem !important;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.activity-img {
  height: 80%;
}

.activity-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.A-item1 {
  grid-column: auto;
  grid-row: 1;
}

.A-item2 {
  grid-column: auto;
  grid-row: 2;
  height: 100%;
}

.A-item2 div {
  height: 80%;
}

.A-item3 {
  grid-column: auto;
  grid-row: 3;
}

.A-item3 div {
  height: 80%;
}

.A-item4 {
  grid-column: auto;
  grid-row: 4;
}
.A-item5 {
  grid-column: auto;
  grid-row: 5;
}

.A-item5 div {
  height: 80%;
}

.A-item6 {
  grid-column: auto;
  grid-row: 6;
}
.A-item6 div {
  height: 80%;
}

/* FOOTER*/

footer {
  background-color: var(--background);
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  margin-top: 1rem;
}

footer h3 {
  margin-bottom: 1rem;
}

footer a {
  margin: 0.5rem 0;
}
