/*  */
.container {
  display: block;
  margin: auto;
  max-width: 42rem;
}

/* HEADER */

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "logo . sign-in"
    "nav nav nav";

  align-items: center;
  padding: 0;
}

header img {
  grid-area: logo;
  margin-left: 3rem;
}

nav li {
  padding: 1rem;
  width: 100%;
  text-align: center;
}
.sign-in {
  color: var(--primary);
  font-weight: 700;
  grid-area: sign-in;
  padding: 3rem 2rem;
}

.sign-in:hover {
  display: none;
}

nav li:hover {
  border-bottom: solid 2px var(--primary);
  padding-top: 0.9rem;
  border-top: 0;
}
