/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --font-family: "Raleway", sans-serif;
  --primary: #0065fc;
  --light: #deebff;
  --background: #f2f2f2;
  --border-light: #999;
}

/* Général */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* container */
.container {
  display: block;
  margin: auto;
  max-width: 1200px;
}

/* header */
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

/* header -nav */
ul {
  display: flex;
  flex-flow: row nowrap;
}

li {
  padding: 4rem;
}

li:hover {
  border-top: solid 1px var(--primary);
  padding-top: 3.9rem;
}
a:hover {
  color: var(--primary);
}

.sign-in {
  color: var(--primary);
  font-weight: 700;
}

/* search bar area */
.search-area {
  margin: 0 2rem;
}

h1 {
  padding: 0.5rem 0rem;
}

/* search bar */

.search-bar {
  padding: 2rem 0rem;
  display: flex;
}

.search-bar i {
  margin: 0;
  padding: 1rem 1.3rem;
  border: solid 1px var(--background);
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  background-color: var(--background);
}

.search-bar input {
  margin: 0;
  padding: 1rem 2rem;
  border: solid 1px var(--background);
  outline: none;
}

.search-bar input::placeholder {
  color: black;
  font-weight: bold;
}

.search-bar button {
  margin: 0;
  padding: 1rem 1.5rem;
  border: 0;
  background-color: var(--primary);
  color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/*  filter */
.filter-area {
  display: flex;
  padding-bottom: 3rem;
}
.filter-area h3 {
  padding: 1rem 1.3rem;
}

.filter-area p {
  text-align: center;
}

.filter {
  position: relative;
  display: flex;
  align-items: center;
}

.filter i {
  margin: 0;
  padding: 1.5rem 1.3rem;
  border: 0;
  border-radius: 50%;
  background-color: var(--light);
  position: relative;
  left: 1.5rem;
  color: var(--primary);
}

.child {
  padding: 1.5rem 1.6rem !important;
  left: 2.3rem !important;
}

.filter p {
  padding: 1rem 2rem 1rem 3rem;
  border: solid 3px var(--background);
  border-left: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-weight: bold;
  justify-content: center;
}

.filter p:hover {
  background-color: var(--primary);
  color: white;
  border-color: var(--light);
}

.info {
  margin-right: 1rem;
  padding: 0.5rem 0.8rem;
  border: solid 2px var(--background);
  border-radius: 50%;
  left: 1.5rem;
  color: var(--primary);
  font-size: 1.3rem;
  justify-content: center;
}

/* main */

main {
  display: grid;
  margin: 0 2rem;
  grid-template-columns: 6fr 3fr;
  column-gap: 3rem;
}

/* main hosting */

.hosting {
  background-color: var(--background);
  display: grid;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  margin: 2rem 0;
  padding: 3rem;
  border-radius: 1rem;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 20px 1fr 1fr 20px; */
  grid-template-areas:
    "title title title"
    "item1 item2 item3"
    "item4 item5 item6"
    "p p p ";
}

.hosting h3 {
  grid-area: title;
  /* margin-left: 1rem; */
}

.hosting-item {
  background-color: white;
  max-width: 100%;
  height: 16rem;
  padding: 0.3rem;
  border-radius: 1rem;
  font-size: 1rem;
}

.display-more {
  grid-area: p;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.hosting-item h4,
.hosting-item p {
  margin: 0.5rem;
}

.hosting-img img {
  width: 20rem;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.notation {
  margin: 0.5rem;
}

.notation i {
  color: var(--background);
}

.primary-star {
  color: var(--primary);
}

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}

/* main most-popular */
.most-popular {
  background-color: red;
}
