/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* Variables */
:root {
  --font-family:  'Raleway', sans-serif;
  --primary:#0065FC;
  --light: #DEEBFF;
  --background: #F2F2F2 ;
}

/* Général */

html {
  font-size: 62.5%;
}
  
body {
font-family: var(--font-family) ;
font-size: 1.6rem;
}

ul {
list-style: none;
}

img {
max-width: 100%;
}
