/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --font-family: "Raleway", sans-serif;
  --primary: #0065fc;
  --light: #deebff;
  --background: #f2f2f2;
  --border-light: #999;
  --shadow: 0px 0px 5px var(--border-light);
}

/* GENERAL*/

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.primary-star {
  color: var(--primary) !important;
}

/* CONTAINER */
.container {
  display: block;
  margin: auto;
  max-width: 1200px;
}

/* HEADER*/

header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . nav sign-in";
  /* flex-flow: row nowrap;
  justify-content: space-between; */
  align-items: center;
  padding: 0 2rem;
}

/* header -nav */

nav {
  grid-area: nav;
}

nav img {
  grid-area: logo;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
}

nav li {
  padding: 4rem;
}

nav li:hover {
  border-top: solid 1px var(--primary);
  padding-top: 3.9rem;
}
nav a:hover {
  color: var(--primary);
}

.sign-in {
  color: var(--primary);
  font-weight: 700;
  grid-area: sign-in;
  padding: 4rem 1rem;
}

.sign-in:hover {
  border-top: solid 1px var(--primary);
  padding-top: 3.9rem;
}

/* SEARCH BAR AREA */
.search-area {
  margin: 0 2rem;
}

h1 {
  padding: 0.5rem 0rem;
}

/* SEARCH BAR */

.search-bar {
  padding: 2rem 0rem;
  display: flex;
}

.search-bar i {
  margin: 0;
  padding: 1rem 1.3rem;
  border: solid 1px var(--background);
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  background-color: var(--background);
}

.search-bar input {
  margin: 0;
  padding: 1rem 2rem;
  border: solid 1px var(--background);
  outline: none;
}

.search-bar input::placeholder {
  color: black;
  font-weight: bold;
}

.search-bar button {
  margin: 0;
  padding: 1rem 1.5rem;
  border: 0;
  background-color: var(--primary);
  color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/*  filter */
.filter-area {
  display: flex;
  padding-bottom: 3rem;
}
.filter-area h3 {
  padding: 1rem 1.3rem;
}

.filter-area p {
  text-align: center;
}

.filter {
  position: relative;
  display: flex;
  align-items: center;
}

.filter i {
  margin: 0;
  padding: 1.5rem 1.3rem;
  border: 0;
  border-radius: 50%;
  background-color: var(--light);
  position: relative;
  left: 1.5rem;
  color: var(--primary);
}

.child {
  padding: 1.5rem 1.6rem !important;
  left: 2.3rem !important;
}

.filter p {
  padding: 1rem 2rem 1rem 3rem;
  border: solid 3px var(--background);
  border-left: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-weight: bold;
  justify-content: center;
}

.filter p:hover {
  background-color: var(--primary);
  color: white;
  border-color: var(--light);
}

.info {
  margin-right: 1rem;
  padding: 0.5rem 0.8rem;
  border: solid 2px var(--background);
  border-radius: 50%;
  left: 1.5rem;
  color: var(--primary);
  font-size: 1.3rem;
  justify-content: center;
}

/* MAIN */

main {
  display: grid;
  margin: 0 2rem;
  grid-template-columns: 6fr 3fr;
  column-gap: 3rem;
}

.notation i {
  color: var(--background);
}

/* Main hosting*/

.hosting {
  background-color: var(--background);
  display: grid;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  margin: 2rem 0;
  padding: 3rem;
  border-radius: 1rem;
  grid-template-columns: repeat(3, 1fr);

  grid-template-areas:
    "title title title"
    "item1 item2 item3"
    "item4 item5 item6"
    "p p p ";
}

.hosting h3 {
  grid-area: title;
}

.hosting-item {
  background-color: white;
  max-width: 100%;
  height: 16rem;
  padding: 0.3rem;
  border-radius: 1rem;
  font-size: 1rem;
  box-shadow: var(--shadow);
}

.display-more {
  grid-area: p;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.hosting-item h4,
.hosting-item p {
  margin: 0.5rem;
}

.hosting-img img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.hosting-notation {
  margin: 0.5rem;
}

.notation i {
  color: var(--background);
}

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}

/* main most-popular */
.most-popular {
  background-color: var(--background);
  display: grid;

  row-gap: 2.5rem;
  margin: 2rem 0;
  padding: 3rem;
  border-radius: 1rem;
  grid-template-columns: 1fr;
}

.MP-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.MP-item {
  background-color: white;
  max-width: 100%;
  height: 11rem;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  font-size: 1rem;
}

.MP-item a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.MP-img img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  padding: 0.3rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.MP-text {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.MP-text p {
  margin-top: 0.5rem;
}

.MP-notation {
  margin-top: 4rem;
}

/* ACTIVITY */

aside {
  margin: 2rem;
}

aside h3 {
  margin: 2rem 0;
}

aside h5 {
  padding: 1rem;
}

.activity-container {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15rem 3rem 3rem 3rem 15rem;

  column-gap: 3rem;
}

.activity-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.activity-img {
  height: 90%;
}

.activity-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.A-item1 {
  grid-column: 1/2;
  grid-row: 1/6;
}

.A-item2 {
  grid-column: 2/3;
  grid-row: 1/4;
  height: 100%;
}

.A-item2 div {
  height: 83%;
}

.A-item3 {
  grid-column: 2/3;
  grid-row: 5/6;
}

.A-item3 div {
  height: 75%;
}

.A-item4 {
  grid-column: 3/4;
  grid-row: 1/6;
}
.A-item5 {
  grid-column: 4/5;
  grid-row: 1/3;
}

.A-item5 div {
  height: 80%;
}

.A-item6 {
  grid-column: 4/5;
  grid-row: 4/6;
}
.A-item6 div {
  height: 80%;
}

/* FOOTER*/

footer {
  background-color: var(--background);
  margin-top: 4rem;
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

footer h3 {
  margin-bottom: 1rem;
}

footer a {
  margin: 0.5rem 0;
}
